@font-face {
    font-family: 'Conduit ITC';
    src: url('ConduitITC-Bold.woff2') format('woff2'),
        url('ConduitITC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

