@font-face {
    font-family: 'Conduit ITC';
    src: url('../fonts/ConduitITC-Bold.woff2') format('woff2'),
         url('../fonts/ConduitITC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Conduit ITC";
    font-weight: bold;
    font-size: 40px;
    color: orange;
    text-shadow: black 2px 2px;
    line-height: 75%;
}

thead th {
    padding-right: 50px;
}

td {
    padding-right: 50px;
}

.score {
    text-align: right;
}

.level {
    text-align: center;
}
