body {
  margin: 0;
}

@font-face {
  font-family: 'Conduit ITC';
  src: url('../fonts/ConduitITC-Bold.woff2') format('woff2'),
      url('../fonts/ConduitITC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.question-border {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  -webkit-mask: url("../img/border_question.svg");
  width: 100%;
  height: 100%;
  /*background: cyan;*/
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  mask-size: cover;
  clear: none;
}

.question-bg {
  display: block;
  -webkit-mask: url("../img/fill_question.svg");
  width: 100%;
  height: 100%;
  background: red;
  mask-size: cover;
  clear: none;
}

.answer {
  display: block;
  position: absolute;
  width: 717px;
  height: 92px;
  clear: none;
}

.answer.answer-a {
  top: 864px;
  left: 220px;
}

.answer.answer-b {
  top: 864px;
  left: 954px;
}

.answer.answer-c {
  top: 965px;
  left: 220px;
}

.answer.answer-d {
  top: 965px;
  left: 954px;
}

.answer-border {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  -webkit-mask: url("../img/border_answer.svg");
  width: 100%;
  height: 100%;
  background: black;
  mask-size: cover;
  clear: none;
  /*opacity: 0.9;*/
}

.answer-a .answer-border,
.answer-c .answer-border {
  background: linear-gradient(0.25turn, #00427c, #C0E2ED);
}

.answer-b .answer-border,
.answer-d .answer-border {
  background: linear-gradient(0.75turn, #00427c, #C0E2ED);
}

.answer-bg {
  display: block;
  -webkit-mask: url("../img/fill_answer.svg");
  width: 100%;
  height: 100%;
  background: black;
  mask-size: cover;
  clear: none;
}

.answer-content {
  font-family: "Conduit ITC";
  font-weight: bold;
  font-size: 60px;
  color: white;
  word-wrap: break-word;
  margin: 0;
  padding: 10px 75px 10px 75px;
  clear: none;
}

.answer-head {
  color: orange;
}

.answer-diamond {
  font-size: 40px;
  vertical-align: 10%;
}

#horizontal-lines line {
  stroke-width: 8px;
}
